@model AlpataEntities.Dtos.AuthDtos.RegisterDto
@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-body">
                <input type="file" id="input-file-now" name="ImagePath" class="dropify" />
            </div><!--end card-body-->
        </div><!--end card-->
    </div><!--end col-->
    <span asp-validation-for="ImagePath"></span>
</div>

@section Scripts{

    <script src="~/Dassets/plugins/dropify/js/dropify.min.js"></script>
    <script src="~/Dassets/pages/jquery.form-upload.init.js"></script>
    <partial name="_ValidationScriptsPartial" />
}