
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Panel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- App favicon -->
    <link rel="shortcut icon" href="~/icon.png">
    @await RenderSectionAsync("Styles", false)
    <!-- App css -->
    <link href="~/Dassets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Dassets/css/jquery-ui.min.css" rel="stylesheet">
    <link href="~/Dassets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Dassets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Dassets/css/app.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/site.css" rel="stylesheet" type="text/css" asp-append-version="true" />
    <link href="~/Dassets/css/dashboard-main.css" rel="stylesheet" type="text/css" asp-append-version="true" />


</head>

<body class="dark-sidenav">
    <!-- Left Sidenav -->
    <div class="left-sidenav">
        <!-- LOGO -->
        <div class="brand">
            <a href="crm-index.html" class="logo">
                @*<span>
                        <img src="~/Dassets/images/logo-sm.png" alt="logo-small" class="logo-sm">
                    </span>*@
                <span>
                    <img src="~/logo1.png" alt="logo-large" class="logo-lg logo-light">
                    <img src="~/logo1.png" alt="logo-large" class="logo-lg logo-dark">
                </span>
            </a>
        </div>
        <!--end logo-->
        <div class="menu-content h-100" data-simplebar>
            <ul class="metismenu left-sidenav-menu">
                @*<li>
                        <a href="javascript: void(0);"> <i data-feather="home" class="align-self-center menu-icon"></i><span>Dashboard</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                        <ul class="nav-second-level" aria-expanded="false">
                            <li class="nav-item"><a class="nav-link" href="index.html"><i class="ti-control-record"></i>Analytics</a></li>
                            <li class="nav-item"><a class="nav-link" href="crm-index.html"><i class="ti-control-record"></i>CRM</a></li>
                            <li class="nav-item"><a class="nav-link" href="helpdesk-index.html"><i class="ti-control-record"></i>Helpdesk</a></li>
                            <li class="nav-item"><a class="nav-link" href="sales-index.html"><i class="ti-control-record"></i>Sales</a></li>
                        </ul>
                    </li>*@
                <li>
                    <a asp-controller="Dashboard" asp-action="Index"><i data-feather="home" class="align-self-center menu-icon"></i><span>Panel</span></a>
                </li>

                <li>
                    <a href="javascript: void(0);"><i data-feather="users" class="align-self-center menu-icon"></i><span>Toplantı İşlemleri</span><span class="menu-arrow"><i class="mdi mdi-chevron-right"></i></span></a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li class="nav-item"><a class="nav-link" asp-controller="DashBoard" asp-action="CreateMeeting"><i class="ti-control-record"></i>Toplantı Oluştur</a></li>
                        <li class="nav-item"><a class="nav-link" asp-controller="DashBoard" asp-action="ChangePassword"><i class="ti-control-record"></i>Toplantı Düzenle</a></li> 

                    </ul>
                </li> 
            </ul> 
        </div>
    </div>
    <!-- end left-sidenav-->


    <div class="page-wrapper">
        <!-- Top Bar Start -->
        <div class="topbar">
            <!-- Navbar -->
            <nav class="navbar-custom">
                <ul class="list-unstyled topbar-nav float-right mb-0"> 
                    <li class="dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                           aria-haspopup="false" aria-expanded="false">
                            <span class="ml-1 nav-user-name hidden-sm">@User.Identity?.Name</span>
                            <img src="~/Dassets/images/users/@User.Claims.FirstOrDefault(z => z.Type == "ImagePath")?.Value" alt="profile-user" class="rounded-circle" />
                        </a>
                        <div class="dropdown-menu dropdown-menu-right"> 
                            <div class="dropdown-divider mb-0"></div>
                            <a class="dropdown-item" asp-controller="Account" asp-action="Logout"><i data-feather="power" class="align-self-center icon-xs icon-dual mr-1"></i> Çıkış</a>
                        </div>
                    </li>
                </ul><!--end topbar-nav-->

                <ul class="list-unstyled topbar-nav mb-0">
                    <li>
                        <button class="nav-link button-menu-mobile">
                            <i data-feather="menu" class="align-self-center topbar-icon"></i>
                        </button>
                    </li> 
                </ul>
            </nav>
            <!-- end navbar-->
        </div>
        <!-- Top Bar End -->
        <!-- Page Content-->
        <div class="page-content">
            <div class="container-fluid"> 
                @RenderBody()
            </div><!-- container -->

            <footer class="footer text-center text-sm-left">
                &copy; 2020 Alpata Teknoloji
            </footer><!--end footer-->
        </div>
        <!-- end page content -->
    </div>

    <!-- loading-spinner -->
    <div id="loading-spinner" class="d-none justify-content-center align-items-center">
        <div class="spinner-border text-light" role="status">
        </div>
        <h4>
            <strong class="text-light ml-2">Please wait...</strong>
        </h4>
    </div>
    <!-- loading-spinner -->
    <!-- end page-wrapper -->
    <!-- jQuery  -->
    <script src="~/Dassets/js/jquery.min.js"></script>
    <script src="~/Dassets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Dassets/js/metismenu.min.js"></script>
    <script src="~/Dassets/js/waves.js"></script>
    <script src="~/Dassets/js/feather.min.js"></script>
    <script src="~/Dassets/js/simplebar.min.js"></script>
    <script src="~/Dassets/js/jquery-ui.min.js"></script>
    <script src="~/Dassets/js/moment.js"></script>
    <script src="~/Dassets/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- App js -->

    <script src="~/Dassets/js/app.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/Dassets/js/dashboard-main.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("NToastNotify")
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>